/* Home.css */
.home {
  padding: 20px;
  text-align: center;
}

.genre-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.genre-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.genre-image {
  width: 95%;
  height: auto;
  border-radius: 8px;
}

/* Media query for single-column layout on smaller screens */
@media (max-width: 768px) {
  .genre-grid {
      grid-template-columns: 1fr; /* Switch to a single column */
  }
}
